*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", serif;
}

.container-table{
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    
}
.header-list{
    padding: 20px;
    box-shadow: 0 0 15px #29547799;
    border-radius: 15px;
    border: 1px solid #29547780;
    text-align: center;
    max-width: 550px;
    margin: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}
.table-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-item{
    text-align: center;
    padding: 10px 5px;
    background: #fff;
    box-shadow: 0 0 15px #29547730;
    border: 1px solid #29547780;
    border-radius: 12px;
    margin:0;
    width: 100px;
}
.rotated-item{
    
    display: flex;
    align-items: start;
}
.rotated-item-div{
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    
}
.rotated-item-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    top: -50px;
    transform: rotate(-90deg);
    text-align: start;
    width: 100px;
    padding-left: 10px;
    height: 40px;
    text-wrap: nowrap;
     background: #fff;
    border: 1px solid #29547780;
    box-shadow: 0 0 15px #29547730;
    border-radius:8px 15px 15px 8px;
    transition: .3s ease all;
}
.rotated-item-text:hover{
    box-shadow: inset 0 0 15px #29547780;
    transition: .3s ease all;
}
.list-item{
    height: 40px;
    width: 40px;
    margin: 0 5px;
   padding: 7px;
}
.table-item:hover{
    box-shadow: inset 0 0 15px #29547780;
}
.list-item:hover{
    background: #29547780;
    cursor: pointer;
}
.list-item img{
    width: 100%;
    height: 100%;
}
.list-table{
    padding: 3px 0;
    border-radius: 15px;
    margin-top: 5px;
    box-shadow: 0 0 15px #29547730;
}

.table-container-fluid{
    overflow: auto;
    height: 431px;
    padding-right: 5px;
}
 ::-webkit-scrollbar {
     width: 10px;
 }


 ::-webkit-scrollbar-track {
     background: #f1f1f1;
     width: 5px;
 }

 
 ::-webkit-scrollbar-thumb {
     background: #295477;
     border-radius: 5px;
 }

 ::-webkit-scrollbar {
     width: 5px;
     height: 5px;
     
 }
 

 .table-buttons-container{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 0;
    gap: 10px;
 }
 .table-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 0 15px #29547730;
    border: 1px solid #29547780;
    border-radius: 12px;
    transition: .3s ease all;
    cursor: pointer;
    text-align: center;
 }
 .table-button:hover{
    background: #295477;
    color: #fff;
 }